In [72]:
import pandas as pd 
import os
import geopandas as gpd 
import matplotlib.pyplot as plt 
from shapely.geometry import Point 
from shapely.geometry import box
from matplotlib.colors import Normalize
import matplotlib.cm as cm
import matplotlib
import numpy as np

In [73]:
# Set the working directory
os.chdir('C:/Users/user/Documents/Unibo/Economics and Econometrics/Second Year/First Semester/Introduction to Python for Economists/Project')

nuclear_plants = pd.read_csv('nuclear_power_plants.csv') # data from "https://github.com/cristianst85/GeoNuclearData/blob/master/data/csv/denormalized/nuclear_power_plants.csv"
print(nuclear_plants.head())

# Consider only operational nuclear plants
operational_nuclear_plants = ["Operational"]
nuclear_plants = nuclear_plants[nuclear_plants['Status'].isin(operational_nuclear_plants)]
print(nuclear_plants.head())

   Id                  Name   Latitude  Longitude Country CountryCode  \
0   1                Ågesta  59.206000   18.08290  Sweden          SE
1   2  Akademik Lomonosov-1  69.709579  170.30625  Russia          RU
2   3  Akademik Lomonosov-2  69.709579  170.30625  Russia          RU
3   4              Akhvaz-1        NaN        NaN    Iran          IR
4   5              Akhvaz-2        NaN        NaN    Iran          IR

        Status ReactorType        ReactorModel ConstructionStartAt  \
0     Shutdown        PHWR                 NaN          1957-12-01
1  Operational         PWR  KLT-40S 'Floating'          2007-04-15
2  Operational         PWR  KLT-40S 'Floating'          2007-04-15
3      Planned         NaN                 NaN                 NaN
4      Planned         NaN                 NaN                 NaN

  OperationalFrom OperationalTo  Capacity              LastUpdatedAt  \
0      1964-05-01    1974-06-02       9.0  2015-05-24T04:51:37+03:00
1      2020-05-22           NaN      30.0                 2021-05-31
2      2020-05-22           NaN      30.0                 2021-05-31
3             NaN           NaN       NaN                        NaN
4             NaN           NaN       NaN                        NaN

                 Source  IAEAId
0              WNA/IAEA   528.0
1  WNA/IAEA/Google Maps   895.0
2  WNA/IAEA/Google Maps   896.0
3                   WNA     NaN
4                   WNA     NaN
    Id                  Name   Latitude  Longitude Country CountryCode  \
1    2  Akademik Lomonosov-1  69.709579  170.30625  Russia          RU
2    3  Akademik Lomonosov-2  69.709579  170.30625  Russia          RU
10  11             Almaraz-1  39.807000   -5.69800   Spain          ES
11  12             Almaraz-2  39.807000   -5.69800   Spain          ES
12  13               Angra-1 -23.008000  -44.45700  Brazil          BR

         Status ReactorType        ReactorModel ConstructionStartAt  \
1   Operational         PWR  KLT-40S 'Floating'          2007-04-15
2   Operational         PWR  KLT-40S 'Floating'          2007-04-15
10  Operational         PWR              WH 3LP          1973-07-03
11  Operational         PWR              WH 3LP          1973-07-03
12  Operational         PWR              WH 2LP          1971-05-01

   OperationalFrom OperationalTo  Capacity              LastUpdatedAt  \
1       2020-05-22           NaN      30.0                 2021-05-31
2       2020-05-22           NaN      30.0                 2021-05-31
10      1983-09-01           NaN     900.0  2017-02-10T23:56:15+02:00
11      1984-07-01           NaN     900.0  2019-06-02T20:17:55+03:00
12      1985-01-01           NaN     609.0  2021-02-14T03:47:53+02:00

                  Source  IAEAId
1   WNA/IAEA/Google Maps   895.0
2   WNA/IAEA/Google Maps   896.0
10              WNA/IAEA   153.0
11              WNA/IAEA   154.0
12              WNA/IAEA    24.0

In [74]:
# Filter rows where "OperationalFrom" is NA
na_rows = nuclear_plants[nuclear_plants["OperationalFrom"].isna()]

print("Observations with NA values in 'OperationalFrom':")
print(na_rows)
# Mochovce-3 is now under construction. Thus, we will ignore it 

# Create a vector of EU countries
eu_iso2_codes = [
    "AT", "BE", "BG", "HR", "CY",
    "CZ", "DK", "EE", "FI", "FR",
    "DE", "GR", "HU", "IE", "IT",
    "LV", "LT", "LU", "MT", "NL",
    "PL", "PT", "RO", "SK", "SI",
    "ES", "SE"
]

# Filter for EU countries
nuclear_plants = nuclear_plants[nuclear_plants['CountryCode'].isin(eu_iso2_codes)]

# Convert the operational and decommission dates to datetime
nuclear_plants['OperationalFrom'] = pd.to_datetime(nuclear_plants['OperationalFrom'])
nuclear_plants['OperationalTo'] = pd.to_datetime(nuclear_plants['OperationalTo'])

# Check for null or missing values in the dates
print(nuclear_plants[['OperationalFrom', 'OperationalTo']].isnull().sum())

# Drop 
nuclear_plants.dropna(subset=["OperationalFrom"], inplace=True)

Observations with NA values in 'OperationalFrom':
      Id                                    Name   Latitude   Longitude  \
119  121  CEFR (China Experimental Fast Reactor)  39.739000  116.030000
356  358                              Kakrapar-3  21.236000   73.351000
460  462                              Mochovce-3  48.261000   18.455000
623  625                            Shin-Hanul-2  37.083889  129.391667

         Country CountryCode       Status ReactorType ReactorModel  \
119        China          CN  Operational         FBR        BN-20
356        India          IN  Operational        PHWR     PHWR-700
460     Slovakia          SK  Operational         PWR   VVER V-213
623  South Korea          KR  Operational         PWR     APR-1400

    ConstructionStartAt OperationalFrom OperationalTo  Capacity  \
119          2000-05-10             NaN           NaN      20.0
356          2010-11-22             NaN           NaN     630.0
460          1987-01-27             NaN           NaN     440.0
623          2013-06-19             NaN           NaN    1340.0

                 LastUpdatedAt    Source  IAEAId
119                 2021-06-12  WNA/IAEA  1047.0
356  2021-02-14T03:47:53+02:00  WNA/IAEA   986.0
460  2023-08-28T08:01:45+03:00  WNA/IAEA   544.0
623  2024-03-03T20:43:43+02:00      IAEA   888.0
OperationalFrom      1
OperationalTo      100
dtype: int64

In [75]:
# Create a GeoDataFrame for nuclear plants
plants_gdf = gpd.GeoDataFrame(
    nuclear_plants, geometry=gpd.points_from_xy(nuclear_plants.Longitude, nuclear_plants.Latitude), crs="EPSG:4326"
)

In [76]:
# Load the shapefile
sp_path = "NUTS_RG_01M_2021_4326_LEVL_3/NUTS_RG_01M_2021_4326_LEVL_3_repaired.shp"  
eu_map = gpd.read_file(sp_path)

# Define the bounding box for continental Europe
bounding_box = {
    "minx": -10,  # Western limit
    "maxx": 30,   # Eastern limit
    "miny": 35,   # Southern limit
    "maxy": 70    # Northern limit
}
print(eu_map)
print(eu_map.crs)
print(eu_map.columns)

# Filter for EU countries
eu_map = eu_map[eu_map['CNTR_CODE'].isin(eu_iso2_codes)]


# Create a bounding box as a shapely object
bounding_polygon = box(bounding_box["minx"], bounding_box["miny"], bounding_box["maxx"], bounding_box["maxy"])

# Clip the map using the bounding box
eu_map = eu_map.clip(bounding_polygon)

     NUTS_ID  LEVL_CODE CNTR_CODE                            NAME_LATN  \
0      NO0B2          3        NO                             Svalbard
1      NO0B1          3        NO                 Jan Mayen\r\n   \r\n
2      HR064          3        HR          Krapinsko-zagorska upanija
3      DE21A          3        DE                               Erding
4      DE94E          3        DE                 Osnabrück, Landkreis
...      ...        ...       ...                                  ...
1509   UKM73          3        UK          East Lothian and Midlothian
1510   UKM75          3        UK                   Edinburgh, City of
1511   UKM76          3        UK                              Falkirk
1512   UKM78          3        UK                         West Lothian
1513   UKK24          3        UK  Bournemouth, Christchurch and Poole

                                NUTS_NAME  MOUNT_TYPE  URBN_TYPE  COAST_TYPE  \
0                                Svalbard         3.0        3.0           1
1                    Jan Mayen\r\n   \r\n         NaN        NaN           1
2             Krapinsko-zagorska upanija         4.0        3.0           3
3                                  Erding         4.0        3.0           3
4                    Osnabrück, Landkreis         4.0        2.0           3
...                                   ...         ...        ...         ...
1509          East Lothian and Midlothian         4.0        1.0           1
1510                   Edinburgh, City of         4.0        1.0           1
1511                              Falkirk         4.0        1.0           1
1512                         West Lothian         4.0        1.0           1
1513  Bournemouth, Christchurch and Poole         4.0        1.0           1

        FID                                           geometry
0     NO0B2  MULTIPOLYGON (((33.09131 80.24908, 33.09929 80...
1     NO0B1  POLYGON ((-7.96242 71.16199, -7.9553 71.15968,...
2     HR064  POLYGON ((16.25128 46.07165, 16.24254 46.0622,...
3     DE21A  POLYGON ((12.01712 48.43068, 12.0221 48.42585,...
4     DE94E  POLYGON ((8.01815 52.68391, 8.03442 52.67338, ...
...     ...                                                ...
1509  UKM73  MULTIPOLYGON (((-2.36662 55.94611, -2.36697 55...
1510  UKM75  MULTIPOLYGON (((-3.07764 55.9469, -3.08167 55....
1511  UKM76  POLYGON ((-3.51572 56.00226, -3.51251 55.99411...
1512  UKM78  POLYGON ((-3.42533 55.99403, -3.42699 55.9905,...
1513  UKK24  POLYGON ((-1.80428 50.79602, -1.8025 50.79206,...

[1514 rows x 10 columns]
EPSG:4326
Index(['NUTS_ID', 'LEVL_CODE', 'CNTR_CODE', 'NAME_LATN', 'NUTS_NAME',
       'MOUNT_TYPE', 'URBN_TYPE', 'COAST_TYPE', 'FID', 'geometry'],
      dtype='object')

In [77]:
# Create a GeoDataFrame for nuclear plants
plants_gdf = gpd.GeoDataFrame(
    nuclear_plants, geometry=gpd.points_from_xy(nuclear_plants.Longitude, nuclear_plants.Latitude), crs="EPSG:4326"
)
print(plants_gdf.crs)

EPSG:4326

In [78]:
# Load the file into a pandas DataFrame
gdp = pd.read_csv("estat_nama_10r_3gdp.tsv.gz", sep="\t", compression="gzip") # GDP per capita regional

# Split the combined column into separate columns
gdp_split = gdp['freq,unit,geo\\TIME_PERIOD'].str.split(',', expand=True)

# Assign meaningful names to the new columns
gdp_split.columns = ['freq', 'unit', 'geo']

# Merge the split columns back into the original DataFrame
gdp = pd.concat([gdp, gdp_split], axis=1)

# Drop the original combined column (optional)
gdp.drop(columns=['freq,unit,geo\\TIME_PERIOD'], inplace=True)

# Filter the dataset to include only rows where "geo" starts with an allowed prefix
gdp_filtered = gdp[gdp['geo'].str[:2].isin(eu_iso2_codes)]

# Step 1: Filter 'gdp' to keep only relevant rows
relevant_gdp = gdp[gdp['geo'].isin(eu_map['NUTS_ID'])]

# Step 2: Merge the filtered 'gdp' with 'eu_map'
merged = eu_map.merge(relevant_gdp, left_on="NUTS_ID", right_on="geo", how="right")

print(merged)

     NUTS_ID  LEVL_CODE CNTR_CODE                NAME_LATN  \
0      AT111          3        AT         Mittelburgenland
1      AT112          3        AT           Nordburgenland
2      AT113          3        AT            Südburgenland
3      AT121          3        AT  Mostviertel-Eisenwurzen
4      AT122          3        AT     Niederösterreich-Süd
...      ...        ...       ...                      ...
7688   SK023          3        SK          Nitriansky kraj
7689   SK031          3        SK            ilinský kraj
7690   SK032          3        SK     Banskobystrický kraj
7691   SK041          3        SK           Preovský kraj
7692   SK042          3        SK             Koický kraj

                    NUTS_NAME  MOUNT_TYPE  URBN_TYPE  COAST_TYPE    FID  \
0            Mittelburgenland         4.0        3.0           3  AT111
1              Nordburgenland         4.0        3.0           3  AT112
2               Südburgenland         4.0        3.0           3  AT113
3     Mostviertel-Eisenwurzen         2.0        3.0           3  AT121
4        Niederösterreich-Süd         3.0        2.0           3  AT122
...                       ...         ...        ...         ...    ...
7688          Nitriansky kraj         4.0        2.0           3  SK023
7689            ilinský kraj         3.0        2.0           3  SK031
7690     Banskobystrický kraj         3.0        3.0           3  SK032
7691           Preovský kraj         3.0        3.0           3  SK041
7692             Koický kraj         2.0        2.0           3  SK042

                                               geometry  ...   2016    2017   \
0     POLYGON ((16.63552 47.44531, 16.62806 47.44207...  ...  24500   26500
1     POLYGON ((17.13656 47.9951, 17.09466 47.97087,...  ...  31500   32400
2     POLYGON ((16.44414 47.34632, 16.44847 47.33988...  ...  25700   27000
3     POLYGON ((15.51229 48.3102, 15.52049 48.31099,...  ...  31700   33900
4     POLYGON ((15.93363 48.07037, 15.94567 48.06833...  ...  29500   30800
...                                                 ...  ...     ...     ...
7688  POLYGON ((18.48865 48.54371, 18.49339 48.53502...  ...     62      60
7689  POLYGON ((19.47421 49.60408, 19.46944 49.5964,...  ...     64      61
7690  POLYGON ((19.99554 48.90483, 20.01669 48.90102...  ...     52      51
7691  POLYGON ((21.40376 49.43197, 21.40906 49.42539...  ...     44      42
7692  MULTIPOLYGON (((22.37915 48.83927, 22.37678 48...  ...     57      59

       2018    2019    2020    2021  2022  freq               unit    geo
0     26600   27000   27000   28300     :     A            EUR_HAB  AT111
1     33300   34200   33100   34800     :     A            EUR_HAB  AT112
2     27700   28400   27000   28700     :     A            EUR_HAB  AT113
3     34400   35600   34100   35600     :     A            EUR_HAB  AT121
4     32100   33100   31500   32600     :     A            EUR_HAB  AT122
...      ...     ...     ...     ...   ...  ...                ...    ...
7688     57      60      64      61   59 e    A  PPS_HAB_EU27_2020  SK023
7689     60      63      65      64   64 e    A  PPS_HAB_EU27_2020  SK031
7690     51      51      53      56   57 e    A  PPS_HAB_EU27_2020  SK032
7691     45      43      45      45   44 e    A  PPS_HAB_EU27_2020  SK041
7692     57      56      61      62   60 e    A  PPS_HAB_EU27_2020  SK042

[7693 rows x 36 columns]

In [105]:
years = ["2000", "2001", "2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015",
        "2016", "2017", "2018","2019","2020","2021","2022",]  # List of year columns as strings

# Strip any leading or trailing whitespace from column names
merged.columns = merged.columns.str.strip()

# Filters the years list to include only those that exist as column names in the merged DataFrame.
years = [year for year in years if year in merged.columns]

for year in years:
    # Clean non-numeric characters and spaces
    merged[year] = merged[year].astype(str).str.strip()
    merged[year] = merged[year].str.replace(r"[^\d.]", "", regex=True)  # Keep only numbers and decimal points
    
    # Convert to numeric and fill missing values with 0 (or another default value if preferred)
    merged[year] = pd.to_numeric(merged[year], errors="coerce").fillna(0)

merged_long = pd.melt(
    merged,
    id_vars=["NUTS_ID", "geometry"],  # Keep these as identifiers
    value_vars=years,                # Only melt the year columns
    var_name="year",          # Column for years
    value_name="GDP"                 # Column for GDP values
)

# Check for missing values
print(merged_long['GDP'].isna().sum())

0

We now use 2SLS/FE method to analyse whether there is a correlation between the presence of Nuclear Plants and GDB and other economic variables. The analysis will be performed locally, that is, withing NUTS3 regions of EU.
First, we create a dateset for the analysis. We "fix" up the "nuclear_plants" dataset before merging it with "merged_long":

In [111]:
# Create a function to check operational status
def is_operational(row, year):
    return (row['OperationalFrom'].year <= year) and (pd.isnull(row['OperationalTo']) or row['OperationalTo'].year >= year)

# Generalize: Create a binary variable for each year in the GDP dataset
years = range(2000, 2021)  # Adjust the range based on your GDP dataset
for year in years:
    new_nuclear_plants[f'is_operational_{year}'] = new_nuclear_plants.apply(lambda row: is_operational(row, year), axis=1)

print(new_nuclear_plants.columns)

Index(['Id', 'Name', 'Latitude', 'Longitude', 'Country', 'CountryCode',
       'Status', 'ReactorType', 'ReactorModel', 'ConstructionStartAt',
       'OperationalFrom', 'OperationalTo', 'Capacity', 'LastUpdatedAt',
       'Source', 'IAEAId', 'geometry', 'index_right', 'NUTS_ID', 'LEVL_CODE',
       'CNTR_CODE', 'NAME_LATN', 'NUTS_NAME', 'MOUNT_TYPE', 'URBN_TYPE',
       'COAST_TYPE', 'FID', 'is_operational_2000', 'is_operational_2001',
       'is_operational_2002', 'is_operational_2003', 'is_operational_2004',
       'is_operational_2005', 'is_operational_2006', 'is_operational_2007',
       'is_operational_2008', 'is_operational_2009', 'is_operational_2010',
       'is_operational_2011', 'is_operational_2012', 'is_operational_2013',
       'is_operational_2014', 'is_operational_2015', 'is_operational_2016',
       'is_operational_2017', 'is_operational_2018', 'is_operational_2019',
       'is_operational_2020', 'is_operational_2021'],
      dtype='object')

In [82]:
# Perform spatial join to map nuclear plants to NUTS3 regions
new_nuclear_plants = gpd.sjoin(plants_gdf, eu_map, how="left", predicate="within")

In [83]:
print(new_nuclear_plants)

      Id          Name  Latitude  Longitude Country CountryCode       Status  \
10    11     Almaraz-1    39.807     -5.698   Spain          ES  Operational
11    12     Almaraz-2    39.807     -5.698   Spain          ES  Operational
21    22        Asco-1    41.202      0.571   Spain          ES  Operational
22    23        Asco-2    41.202      0.571   Spain          ES  Operational
43    44  Belleville-1    47.511      2.871  France          FR  Operational
..   ...           ...       ...        ...     ...         ...          ...
704  707   Tricastin-2    44.330      4.733  France          FR  Operational
705  708   Tricastin-3    44.331      4.733  France          FR  Operational
706  709   Tricastin-4    44.331      4.733  France          FR  Operational
707  710      Trillo-1    40.699     -2.622   Spain          ES  Operational
717  727   Vandellos-2    40.949      0.867   Spain          ES  Operational

    ReactorType ReactorModel ConstructionStartAt  ... index_right NUTS_ID  \
10          PWR       WH 3LP          1973-07-03  ...       461.0   ES432
11          PWR       WH 3LP          1973-07-03  ...       461.0   ES432
21          PWR       WH 3LP          1974-05-16  ...       348.0   ES514
22          PWR       WH 3LP          1975-03-07  ...       348.0   ES514
43          PWR  P4 REP 1300          1980-05-01  ...       884.0   FRB01
..          ...          ...                 ...  ...         ...     ...
704         PWR          CP1          1974-12-01  ...       769.0   FRK23
705         PWR          CP1          1975-04-01  ...       769.0   FRK23
706         PWR          CP1          1975-05-01  ...       769.0   FRK23
707         PWR  PWR 3 loops          1979-08-17  ...       474.0   ES424
717         PWR       WH 3LP          1980-12-29  ...       348.0   ES514

     LEVL_CODE CNTR_CODE    NAME_LATN    NUTS_NAME MOUNT_TYPE  URBN_TYPE  \
10         3.0        ES      Cáceres      Cáceres        4.0        2.0
11         3.0        ES      Cáceres      Cáceres        4.0        2.0
21         3.0        ES    Tarragona    Tarragona        2.0        2.0
22         3.0        ES    Tarragona    Tarragona        2.0        2.0
43         3.0        FR         Cher         Cher        4.0        3.0
..         ...       ...          ...          ...        ...        ...
704        3.0        FR        Drôme        Drôme        2.0        3.0
705        3.0        FR        Drôme        Drôme        2.0        3.0
706        3.0        FR        Drôme        Drôme        2.0        3.0
707        3.0        ES  Guadalajara  Guadalajara        3.0        2.0
717        3.0        ES    Tarragona    Tarragona        2.0        2.0

    COAST_TYPE    FID
10         3.0  ES432
11         3.0  ES432
21         1.0  ES514
22         1.0  ES514
43         3.0  FRB01
..         ...    ...
704        3.0  FRK23
705        3.0  FRK23
706        3.0  FRK23
707        3.0  ES424
717        1.0  ES514

[99 rows x 27 columns]

In [119]:
# Reshape the operational data to long format for merging
operational_long = new_nuclear_plants.melt(
    id_vars=['NUTS_ID'],  # Replace with the column identifying the region
    value_vars=[f'is_operational_{year}' for year in years],
    var_name='year',
    value_name='plant_operational'
)

# Extract year as an integer from the column name
operational_long['year'] = operational_long['year'].str.extract(r'(\d+)').astype(int)

# Convert the 'year' column to integers in both DataFrames
merged_long['year'] = merged_long['year'].astype(int)

# Merge with the GDP dataset
merged_long = pd.merge(merged_long, operational_long, on=['NUTS_ID', 'year'], how='left')

# Fill missing values in the plant_operational column with 0 (no plant in operation)
merged_long['plant_operational'] = merged_long['plant_operational'].fillna(0).astype(int)

In [121]:
print(merged_long)

       NUTS_ID                                           geometry  year  \
0        AT111  POLYGON ((16.63552 47.44531, 16.62806 47.44207...  2000
1        AT112  POLYGON ((17.13656 47.9951, 17.09466 47.97087,...  2000
2        AT113  POLYGON ((16.44414 47.34632, 16.44847 47.33988...  2000
3        AT121  POLYGON ((15.51229 48.3102, 15.52049 48.31099,...  2000
4        AT122  POLYGON ((15.93363 48.07037, 15.94567 48.06833...  2000
...        ...                                                ...   ...
185901   SK023  POLYGON ((18.48865 48.54371, 18.49339 48.53502...  2022
185902   SK031  POLYGON ((19.47421 49.60408, 19.46944 49.5964,...  2022
185903   SK032  POLYGON ((19.99554 48.90483, 20.01669 48.90102...  2022
185904   SK041  POLYGON ((21.40376 49.43197, 21.40906 49.42539...  2022
185905   SK042  MULTIPOLYGON (((22.37915 48.83927, 22.37678 48...  2022

            GDP  plant_operational
0       15700.0                  0
1       19200.0                  0
2       15500.0                  0
3       20400.0                  0
4       19000.0                  0
...         ...                ...
185901     59.0                  0
185902     64.0                  0
185903     57.0                  0
185904     44.0                  0
185905     60.0                  0

[185906 rows x 5 columns]

In [127]:
# Filter observations where plant_operational is 1
operational_plants = merged_long[merged_long['plant_operational'] == 1]

# Display the filtered observations
print(operational_plants)

       NUTS_ID                                           geometry  year   GDP  \
47       BE236  POLYGON ((4.2858 51.12382, 4.27471 51.12244, 4...  2000   0.0
48       BE236  POLYGON ((4.2858 51.12382, 4.27471 51.12244, 4...  2000   0.0
49       BE236  POLYGON ((4.2858 51.12382, 4.27471 51.12244, 4...  2000   0.0
68       BE331  POLYGON ((5.34677 50.62804, 5.33852 50.62249, ...  2000   0.0
69       BE331  POLYGON ((5.34677 50.62804, 5.33852 50.62249, ...  2000   0.0
...        ...                                                ...   ...   ...
170503   SI036  POLYGON ((15.15649 46.09123, 15.17178 46.08348...  2020  78.0
170511   SK021  POLYGON ((17.39873 48.80834, 17.39127 48.80054...  2020  82.0
170512   SK021  POLYGON ((17.39873 48.80834, 17.39127 48.80054...  2020  82.0
170514   SK023  POLYGON ((18.48865 48.54371, 18.49339 48.53502...  2020  64.0
170515   SK023  POLYGON ((18.48865 48.54371, 18.49339 48.53502...  2020  64.0

        plant_operational
47                      1
48                      1
49                      1
68                      1
69                      1
...                   ...
170503                  1
170511                  1
170512                  1
170514                  1
170515                  1

[14294 rows x 5 columns]